@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.hero{
  min-height: 35vh;
  background: radial-gradient(ellipse at 30% 40%, #1e3a6e 0%, #0f1e45 40%, #090f2a 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 24px;
  gap: 24px;
   padding-bottom: 80px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: -80%
}

.pseudo{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #ffffff;
    opacity: 0.5;

}

.titre{
    font-family: 'Inter', sans-serif;
    font-size: 25x;
    color: #ffffff;
    font-weight: 700;
}













